body {
    padding-top: 5rem;
}

.grid-container {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 20px 0px; 
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  margin: 20px;
  text-align: center;
}